.timeline {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  flex: 1 1 100%;
}

.timeline-top {
  min-height: 250px;
}

.timeline-top>div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-top img {
  max-height: 200px;
}

#timeline-prev, #timeline-next {
  left: 0;
  width: 60px;
  height: 60px;
  cursor: pointer;
  top: 50%;
  transform: translate(0, -50%);
  align-items: center;
  justify-content: center;
  text-align: center;
}

#timeline-next {
  left: inherit;
  right: 0;
  transform: rotate(0deg) translate(0, -50%);
  border-right: none;
}
#timeline-prev{
  border-left: none;
}
#timeline-line {
  display: block;
  top: 50%;
  height: 20px;
  transform: translate(0, -50%);
  border-radius: 0px 40px 40px 0;
  position: absolute;
  background: linear-gradient(90deg, #ffffff26, #ffffff54);
}

#timeline-line::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: calc(100vw - 2px);
  top: 50%;
  height: 2px;
  transform: translate(0px, -50%);
  background: #ffffff38;
}

.timeline-date-back {
  height: auto;
  position: absolute;
  display: flex;
  overflow: hidden;
  bottom: 50%;
  left: 50%;
  transform: translate(-20%, 0%);
  max-height: 28;
  line-height: 1em;
  font-size: clamp(50px, 15vw, 400px) !important;
  font-weight: 500;
  color: #ffffff40;
  z-index: 0;
}


.timeline-date-back span {
  animation: upLetter 0.65s ease forwards;
  margin: 0;
  transform: translateY(80px);
  opacity: 0;
}

.timeline-date-back span:nth-child(2) {
  animation-delay: 0.15s;
}

.timeline-date-back span:nth-child(3) {
  animation-delay: 0.3s;
}

.timeline-date-back span:nth-child(4) {
  animation-delay: 0.45s;
}

@keyframes upLetter {
  from {
    opacity: 0;
    transform: translateY(80px);
  }

  to {
    opacity: 1;
    transform: translateY(40px);
  }
}

.timeline-slider {
  position: relative;
  overflow: visible;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
}

.timeline-slide {
  display: flex;
  flex-direction: column;
  position: relative;
}

.timeline-slide .cc {
  width: clamp(450px, 40vw, 768px);
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transition: all 500ms ease;
  padding: 4em 0;
  position: absolute;
  top: 0px;
  margin: 0;
}

.slide-see.timeline-slide .cc {
  display: initial;
  opacity: 1;
  user-select: inherit;
  pointer-events: initial;
}

.slide-right .cc {
  transform: translateX(calc(-100% + 30px));
  text-align: right;
}

.slide-date {
  display: block;
  transform: rotate(-90deg) translate(calc(100% + 0px), -100%);
  transform-origin: center;
  text-align: right;
  transition: all 300ms 100ms ease-out !important;
  position: absolute;
  top: 0;
  left: 0%;
  margin: 0;
  max-width: none;
  max-height: none;
  line-height: 1em;
  opacity: 0;
}

.slide-see .slide-date {
  transform: rotate(-90deg) translate(calc(100% + 15px), -100%);
  opacity: 1;
}

.slide-dot {
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  cursor: pointer;
  background: #ffffff40;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%) scale(0.7);
}

.slide-dot::after, .slide-dot::before {
  position: absolute;
  content: "";
  width: 38px;
  height: 38px;
  border-radius: 30px;
  border: 1px solid #fff;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.9s cubic-bezier(0.25, 0, 0.45, 1);
  left: 50%;
  top: 50%;
}

.slide-dot::before {
  transform: translate(-50%, -50%) scale(0);
}

.slide-see .slide-dot {
  width: 8px;
  height: 8px;
  transform: translate(-50%, -50%) scale(1);
}

.slide-see .slide-dot::after {
  transform: translate(-50%, -50%) scale(3);
  opacity: 0;
  border: 0.5px solid #FFF;
}

.slide-see .slide-dot::before {
  transform: translate(-50%, -50%) scale(1);
}

.timeline-arrows {
  background-color: var(--black);
  border: var(--global-border);
  justify-content: center;
  align-items: center;
  user-select: none;
  z-index: 2;
}

.timeline-slider-container {
  width: calc(100% - ( 80px * 2 ));
  margin: auto;
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: row;
}

/*************************************************
*                 RESPONSIVE                     *
**************************************************/

/* MOBILE */
@media (max-width: 576px) {

  #timeline-prev,
  #timeline-next {
    width: 35px;
    height: 35px;
    top: 62.5px;
    left: 2vw;
  }

  #timeline-next {
    right: 2vw;
    left: inherit;
  }

  .timeline-slide {
    overflow: auto;
    display: flex;
    flex-direction: row;
    scroll-snap-type: x mandatory;
  }

  .timeline-slide ul {
    list-style-type: none;
    /* background-color: #ffffff21; */
    background-color: rgb(var(--primary), 0.7);
    margin-left: 5vw !important;
    padding: 8vw !important;
    border-radius: 20px;
    scroll-snap-align: center;
  }

  .timeline-slide .date {
    font-size: 2rem;
    margin-bottom: 3vh;
    font-family: 'DanmarkURWTOT-Dem';
  }

  .timeline-slide .title {
    margin-bottom: 3vh;
  }

  .timeline-slide li {
    margin-left: 5vw;
    max-width: 100%;
    font-size: 1rem;
    width: 70vw;

  }

  .timeline-date-back {
    font-size: 90px;
    padding-left: 45vw;
  }

  .timeline-date-back {
    height: 60px;
    transform: translateY(20px);
  }
}